@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    height: 100%;
    margin: 0;
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: black 2px 2px 2px;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em;
}

#blackjack{
    border-radius: 25px;
    box-shadow: black 2px 2px 2px;
}