@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    
    height: 60px;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 75%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.search > input {
    height: 30px;
    width: 250px;
}

.search > button {
    height: 30px;
    width: 50px;
    font-weight: bold;
}

footer {
    position: relative;
    height: 60px;
    margin-top: -60px;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 75%);
}

header > div > h1 {
    
    color: rgb(241, 241, 241);
    font-size: 26px;
    text-shadow: black 1px 1px 1px
}

.media-container {
    
    padding: 10% 10%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.video-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: grid;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    height: 200px;
    width: 200px;
}

.video-thumb {
    display: grid;
    justify-items: center;
    align-items: center;
}

p {
    padding-top: 20px;
}

video {
    height: 500px;
}

#vid-img {
    width: 150%;
}