@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
}

body {
    display: block;
    grid-template-rows: 50px 1fr 50px;
    height: 100vh;
}

header, footer {
    background-color: mediumvioletred;
    height: 50px;
}

header {
    display: flex;
    justify-content: space-between;
}

h2 {
    margin: auto;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.site-body {
    display: flex;
    width: 100%;
}

.side-menu {
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
}

li {
    display: flex;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-button {
    border: none;
    width: 100%;
    cursor: pointer;
    transition-duration: 0.4s;
}

.menu-button:hover {
    background-color: #e68bb5;
    color: white;
}

.menu-icon {
    
    height: 20px;
    padding: 10px;
}

.menu-icon-right {
    height: 20px;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 30px;
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 40px;
}

.items img {
    height: 200px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.footer-text {
    padding: 12.5px;
    color: white;
}

#cake {
    padding: 12.5px;
}

#login-button {
    height: 30px;
    width: 80px;    
    border-radius: 15px;
    border: none;
    margin-top: 7.5px;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.2);
    transition-duration: 0.3s;
}

#login-button:hover {
    background-color: #f2d0e0;
    cursor: pointer;
    font-weight: bold;
}

.side-menu {
    background-color: #f2d0e0;
}